<div class="container">

    <h2 class="text-center">Nuevo contrato</h2>
    <hr>
    <form [formGroup]="crearForm" (ngSubmit)="crearContrato(crearForm.value)">
        <div class="formulario">
            <section>
                <div class="form-group">
                    <label for="identificacion">Identificación</label>
                    <input type="text" class="form-control" formControlName="id">
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre">
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" formControlName="apellido">
                </div>
            </section>
            <section>
                <div class="form-group">
                    <label for="edad">Edad</label>
                    <input type="text" class="form-control" formControlName="edad">
                </div>
                <div class="form-group">
                    <label for="cat">Cat</label>
                    <input type="text" class="form-control" formControlName="cat">
                </div>
                <div class="form-group">
                    <label for="cargo">Cargo</label>
                    <input type="text" class="form-control" formControlName="cargo">
                </div>
            </section>
        </div>
        <div class="botones">
            <div class="btn-crear">
                <button type="submit" class="btn btn-info">Crear</button>
            </div>
            <div class="btn-cancelar">
                <button type="reset" class="btn btn-warning" [routerLink]="['']">Cancelar</button>
            </div>
        </div>
    </form>
</div>