<div class="jumbotron jumbotron-fondo">
    <div class="container">

        <div class="row">

            <div class="col-sm-12">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="texto-blanco">
                            Lista de Contratos
                        </h3>
                    </div>
                    <div class="col col-xs-6 text-right">
                        <button type="button" class="btn btn-success">Crear contrato</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered tabla-fondo">
                        <thead class="thead-color">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">

                        <div class="col col-xs-4">Page 1 of 5
                        </div>
                        <div class="col col-xs-8">
                            <ul class="pagination hidden-xs pull-right" id="myPager">
                            </ul>
                            <ul class="pagination visible-xs pull-right">
                                <li><a href="#">«</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>