<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-xs-3 col-sm-6 col-12">
                    <h2>Lista de contratos</h2>
                    <button type="button" class="btn btn-info" [routerLink]="['nuevoContrato']">Nuevo
                        contrato</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <section class="card-text">
                <div class="table-responsive table-responsive-sm tabla">

                    <table class="table table-bordered tabla-fondo" aria-label="lista_contratos">
                        <thead class="thead-color text-center">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Identificación</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Cat</th>
                                <th scope="col">Cargo</th>
                                <th colspan="2" scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contrato of listaContratos">
                                <th scope="row">{{contrato.tipo_id}}</th>
                                <td>{{contrato.id}}</td>
                                <td>{{contrato.nombre}}</td>
                                <td>{{contrato.apellido}}</td>
                                <td>{{contrato.edad}}</td>
                                <td>{{contrato.cat}}</td>
                                <td>{{contrato.cargo}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="eliminarContrato(contrato.tipo_id)">
                                        Eliminar
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info" (click)="modificarContrato(contrato.tipo_id)">
                                        Editar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

        </div>
    </div>


</div>